<h1>All Wikis</h1>

<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
      <% if wiki.private == false || current_user.role == 'admin' || current_user == wiki.user %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to wiki.title, wiki %>
            </h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
    <% if current_user.role == 'standard' %>
      <%= link_to "Upgrade to Premium", new_charge_path, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to "Downgrade to Standard", downgrades_path, method: :post, class: 'btn btn-danger', data: {confirm: 'Prepared to be standardized? All of your private wikis will become public!'} %>
      <!-- <%= link_to "Downgrade to Standard", downgrades_path, data: {method: :post, confirm: 'Are you sure you want to be standardized?'}, class: 'btn btn-danger' %> -->
    <% end %>
  </div>
</div>
